@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Sen:wght@400;700;800&display=swap');

/* font-family: 'Poppins', sans-serif; */
:root {
    --ff-primary: 'poppins', sans-serif;
    --ff-secondary: 'Inter', sans-serif;
    --ff-tertiary: 'sen' sans-serif;

    /* font-sizes */
    --fs-xxs: 12px;
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-smm: 18px;
    --fs-md: 19px;
    --fs-2md: 20px;
    --fs-lg: 21px;
    --fs-2lg: 22px;
    --fs-xl: 24px;
    --fs-xxl: 26px;
    --fs-xxxl:28px;
    --fs-4xl: 30px;
    --fs-5xl: 40px;
    --fs-6xl: 46px;
    --fs-7xl: 56px;

    /* font-weights */
    --extraLarge: 800;
    --extraBold: 700;
    --bold: 600;
    --semiBold: 500;
    --medium: 400;
    --regular: 300;

    /* font-colors */

    --black-color: #2d3234;
    --primary-color: #ffc14b;
    --secondary-color: #535f62;
    --white-color: #FFFFFF;
    --dark-color: #f66f4d;
    --light-color: #939597;
    --success-color: #ffce82;
    --info-color: #ffd482;
    --light-color: #bdbf60;
    --gray-color: #676a6c;
}