*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box !important;
}
.my-container {
    max-width: 1200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.body-clr{
    background-color:#FAF8ED;
}


/* *******hero-section******* */
.nav-btn{
    border: 1.4px solid #F66F4D;
        border-radius: 27px;
        padding: 19px 34px;
}
.box-1{
    background: #FDFEFF;
        box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
        border-radius: 38px;
        padding: 11px 20px;
        max-width: 500px;
}
.box-line{
    border: 1px solid #EAEAEB;
        /* transform: rotate(90deg); */
        min-height: 47px;
        width: 0;

}




/* *********Max-Width********* */
.max-440{
    max-width: 440px;
}
.max-370{
    max-width: 370px;
}




/* *****section-2***** */
.border-radius-pic{
    border-radius: 85px;
}
.btn-position{
    transform: translateY(-154px);
}


/* *********section-3******** */
.square-box{
    background: rgba(255, 255, 255, 0.7);
        border-radius: 14px;
}
.pd-1{
    padding: 30px 30px 0px 26px;
}
.pd-2{
    padding: 18px 54px 26px 26px;
}









@media (max-width:1070px) {
    .sm-screen {
        display: flex;
        flex-direction: column;
        left: -100%;
        position: fixed;
        pointer-events: none;
        transition: all 250ms linear;
        background-color:#FFD482;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 3;
    }

    #iconbox:checked~.sm-screen {
        left: 0;
        pointer-events: all;
        opacity: 1;
    }

    label[for="iconbox"] {
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 4;
        position: relative;
    }

    label[for="iconbox"]>span {
        width: 100%;
        height: 7px;
        background-color: black;

    }
}
@media (max-width:992px) {
    .flex-xs-reverse{
        flex-direction: column-reverse;
    }
    .jcs-center{
        justify-content: center;
    }
    .ali-center{
        align-items: center;
    }
    .display-flex{
        display: flex;
    }
    .txt-center{
        text-align: center;
    }

    
}

@media (max-width:768px) {
    
    .fs-56 {
            font-size: var(--fs-7xl);
        }
}
