*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none  !important;
    text-decoration: none  !important;
}

.my_container{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.fc_white{
    color: #FFFFFF;
}
.fc_black{
    color: #2D3134;
}
.fc_off_black{
    color: #5B5F62;
}
.bg_color{
    background: #FAF8ED;
}
/* padding-margin  */
.pt_12px{
    padding-top: 12px;
}
.pt_14px{
    padding-top: 14px;
}
.pt_35px{
    padding-top: 35px;
}
.pt_75px{
    padding-top: 75px;
}
.pl_6px{
    padding-left:6px;
}
.pl_12px{
    padding-left: 12px;
}
.pl_14px{
    padding-left: 14px;
}
.pb_16px{
    padding-bottom: 16px;
}
.pb_20px{
    padding-bottom: 20px;
}
.pb_35px{
    padding-bottom: 35px;
}
.pb_40px{
    padding-bottom: 40px;
}
.pb_75px{
    padding-bottom: 75px;
}

.ml_14px{
    margin-left: 14px;
}
/* padding-margin  */
/* section-4 */
.slick-next {
    right: 30px !important;
    top: -125px !important;
}
.slick-prev{
left: 1055px !important;
    top: -125px !important;
}
.slick-prev:before {
    content:url(../images/svg/Arrow_left.svg) !important ;
    
}
.slick-next:before {
    content: url(../images/svg/Arrow_right.svg) !important;
}
.mw_400{
    max-width: 400px;
}
.section4_card_1{
    /* width: 386px;
    height: 440px; */
    background: #FAF8ED;
border: 2px solid #FFFFFF;
box-shadow: 0px 24px 90px rgba(192, 188, 161, 0.22);
border-radius: 16px;
padding: 12px;
}
.book_now_btn{
    background: #2D3134;
border-radius: 46px;
padding: 12px 16px 11px 16px;
}
.book_now_btn2{
border: 1px solid #2D3134;
border-radius: 46px;

padding: 12px 16px 11px 16px;
}
/* slider */
.slick-slider .element{
    background-color: white;
  border-radius:5px;
  display:inline-block;
  margin:0px 10px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.slick-slider .slick-disabled {
  opacity : 0; 
  pointer-events:none;
}
/* slider-end */
/* section-4-end */
/* section-5 */
.london{
    background: #2D3134;
border-radius: 30px;
padding: 10px 20px;
}
.bangkok{
    border: 1px solid #2D3134;
    border-radius: 30px;
    padding: 10px 20px;
}
/* section-5-end */
/* section-6 */
.orange_line{
    width: 67px;
height: 8px;
background: linear-gradient(159.99deg, #FFD482 13.35%, #FFBE82 118.92%);
box-shadow: 0px 2px 6px rgba(229, 137, 24, 0.15);
border-radius: 4px;
}
.mw_467{
    max-width: 467px;
}
.white_box{
background: #FFFFFF;
border-radius: 14px;
padding: 32px 34px 30px 30px;
}
.section6_para1{
    max-width: 473px;
}
.section6_image_box{
    border-radius:50%;
}

/* section-6-end */
/* section-7 */
.bgc_orange{
    background: #FFD482;
     border-radius: 30px;
}
.section7_box{
    background-image: url("../images/png/section7_bg_image_.png");  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}
.section7_para1{
    max-width: 415px;
}
.section7_box2b{
   text-align: center;
}
.white_box2{
    width: 38%;
    background: #FFFFFF;
border-radius: 12px;
padding: 10px 12px 10px 26px;
}
.your_email{
    width: 80%;
    border:none !important;
   outline: none !important;
   cursor: pointer;
}

/* section-7-end */
/* footer */
.footer_para1{
    max-width: 141px;
}
/* footer-end */

/* media */

.grid_item1{
    grid-row:1/2 ;
    grid-column: 1/2;
}
.grid_item2{
    grid-row:1/3 ;
    grid-column: 2/3;
}
.grid_item3{
    grid-row:1/2 ;
    grid-column: 3/5;
}
.grid_item4{
    grid-row: 2/3;
    grid-column: 1/2;
}
.grid_item5{
    grid-row: 2/3;
    grid-column:3/4;
}
.grid_item6{
    grid-row: 2/3;
    grid-column:4/5;
}
.section5_grid{
    border-radius: 20px;
}
.grid_text{
    background: #FFFFFF;
border-radius: 12px;
padding: 5px 10px;
}
.grid_text_position{
    top: 5%;
    left: 10%;
}
@media (min-width:320px) {
    .w_sm_50{
        width: 50%;
    }
    
}